
<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>


<div class="container">
  <div class="row mt-5">
    <h2>Home page</h2>
    <hr />
    <h3>This is my home page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt commodi rem cupiditate blanditiis totam quidem laborum voluptatum corporis nihil sit, tenetur iure provident quis ex iste ipsum quas facere soluta?Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illo soluta voluptates dolore deleniti necessitatibus consequuntur perspiciatis hic, sint obcaecati iusto doloribus eligendi consectetur unde. Expedita suscipit magnam aperiam ea?</p>
  </div>
</div>


  
<%- include('./partials/footer.ejs')%>

