
<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>


<div class="container">
  <div class="row mt-5">
    <h2>Login Form</h2>
    <hr />
    <form method="post">
    <div class="mb-3">
      <label for="email"class="form-label">Email</label>
      <input type="email" required name="email" id="email" class="form-control"  >
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" name="password"id="password" class="form-control">
      </div>
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
  </div>
</div>


  
<%- include('./partials/footer.ejs')%>
